<!DOCTYPE html>
<html ng-app="AngularMvc">
    <head>
        <meta charset="utf-8">
        <title>MVC2</title>
    </head>
    <body>
        <div ng-controller="EventController">
            Root Scope
            <tt>MyEvent</tt>Count:{{count}}
            <ul>
                <li ng-repeat="i in [1]" ng-controller="EventController">
                    <button type="button" ng-click="$emit('MyEvent')">
                        $emit('MyEvent')
                    </button>
                    <button type="button" ng-click="$broadcast('MyEvent')">
                        $broadcast('MyEvent')
                    </button>
                    <br>
                    Middle scope
                    <tt>MyEvent</tt>count:{{count}}
                    <ul>
                        <li ng-repeat="item in [1,2]" ng-controller="EventController">
                            left scope
                            <tt>MyEvent</tt>count:{{count}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="node_modules/angular/angular.js" charset="utf-8"></script>
        <script src="mvc-01.js" charset="utf-8"></script>
    </body>
</html>
